body{
  font-size: 1.2em;
  width: 1000px;
  margin: 0 auto;
}
h2{
  text-align: center;
  margin-bottom: 3em;
}
p.letter-spacing{
  letter-spacing:5px;
}
p.letter-spacing-effect{
  letter-spacing: -5px;
  transition: all 2s;
}
p.letter-spacing-effect:hover{
  letter-spacing: 0px;
}
p.word-spacing{
  word-spacing: 10px;
}
p.word-spacing-backword{
  word-spacing: -5px;
}
p.word-spacing-effect{
  word-spacing: 20px;
  transition: all 3s;
}
p.word-spacing-effect:hover{
  word-spacing: 0px;
}
